<?xml version='1.0' encoding='utf-8'?>
<widget id="netlify.app.gowra" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gowra</name>
    <description>A Hugo PWA wrapped as a native app</description>
    <author email="gowrapavankumar2004@example.com" href="https://gowra.netlify.app">Your Name</author>
    <content src="https://gowra.netlify.app" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <icon src="www/img/r-favicon-r2.png" />
    </platform>
    <platform name="ios">
        <icon src="www/img/r-favicon-r2.png" />
    </platform>
</widget>
