<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Other head elements -->
  <link rel="manifest" href="/manifest.json">
  <meta name="google-site-verification" content="B5yXTpO_G0oBbCsIiyty1ssCWf6AB5KsMkF1WlbpKtQ" />
</head>
<body>
  {{ block "main" . }}{{ end }}
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(error) {
        console.log('ServiceWorker registration failed: ', error);
      });
    }
  </script>
</body>
</html>
